.class-navbar :hover{
    cursor: pointer;
    background-color: rgb(241, 241, 241);
}

.class-navbar div{
    padding: 18px;
}

.classwork-card{

}
.classwork-card :hover{
 cursor: pointer;
 background-color: rgb(238, 238, 238);
}