
/* .navbar{
    background-color: rgb(82, 187, 84);
} */
.navbar a{
    color: white;
    
    font-weight: 600;
}
/* .registration{
    border: 2px solid black;
} */
.container input{
    border: 2px solid rgb(36, 99, 37);
    border-radius: 8px;
}
.navbar a{
   text-decoration: none;
   margin: 10px 10px;
}
